.title p {
    text-align: center;
    color: rgb(76, 76, 76);
    font-size: 1.2em;
    margin-top: 40px;
}

hr {
    width: 60%;
    margin: auto;
}

.tiket {
    width: 80%;
    height: auto;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
        rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.heading {
    width: 100%;
    height: 40px;
    background-color: rgb(110, 121, 244);
    justify-content: center;
    display: flex;
    align-items: center;
}

.heading p {
    color: white;
    letter-spacing: 1px;
    padding-top: 5px;
}

.tiket .header {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #007bff;
    color: white;
    letter-spacing: 1px;
    font-size: 1.2em;
    border-radius: 5px 5px 0px 0px;
    font-weight: bold;
}

.isi .isi1 {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    padding-bottom: 0px;
    color: rgb(76, 76, 76);
    letter-spacing: 0.5px;
}

.isi .isi1 .keberangkatan {
    flex-basis: 50%;
    padding: 5px;
}

.isi .isi1 .tujuan {
    flex-basis: 40%;
    padding: 5px;
}

.isi .isi1 .harga {
    flex-basis: 10%;
    padding: 5px;
    /* text-align: start; */
}

.isi2 {
    display: flex;
    padding: 25px;
    padding-top: 0px;
    padding-bottom: 5px;
    flex-direction: row;
}

.isi2 .totalharga {
    padding: 10px;
    flex-basis: 40%;
    color: rgb(76, 76, 76);
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
}

.isi2 .button {
    padding: 10px;
    flex-basis: 60%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.isi2 .button button {
    border: none;
    padding: 7px 25px;
    font-size: 1em;
    border-radius: 7px;
    margin-left: 15px;
    letter-spacing: 1px;
    cursor: pointer;
}

.isi2 .button .batal {
    background-color: rgb(255, 0, 0);
    color: white;
}

.isi2 .button .batal:hover {
    background-color: rgb(206, 0, 0);
}

.isi2 .button .ubah {
    background-color: rgb(44, 58, 239);
    color: white;
}

.isi2 .button .ubah:hover {
    background-color: rgb(16, 30, 205);
}

.isi2 .button .bayar {
    background-color: rgb(221, 63, 31);
    color: white;
}

.isi2 .button .bayar:hover {
    background-color: rgb(173, 51, 24);
}

@media (max-width: 900px) {
    .isi2 .button button {
        margin-left: 0px;
        margin: 5px;
    }

    .isi2 .button {
        flex-basis: 100%;
        align-items: center;
        justify-content: center;
    }

    .isi2 .totalharga {
        padding: 10px;
        flex-basis: 100%;
        color: rgb(76, 76, 76);
        letter-spacing: 1px;
        display: flex;
        flex-direction: column;
    }

    .isi2 .totalharga h1 {
        font-size: 1.8em;
    }

    .isi2 {
        flex-direction: column;
    }

    .isi .isi1 {
        flex-direction: column;
    }

    .isi .isi1 .keberangkatan {
        flex-basis: 100%;
        padding: 10px;
    }

    .isi .isi1 .tujuan {
        flex-basis: 100%;
        padding: 10px;
    }
    .isi .isi1 .harga {
        flex-basis: 100%;
        padding: 10px;
    }
}
